.row.bottom-space
    .col-sm-10
        input.col-sm-12.input-lg.form-control(type="text", ng-model="dataURL", placeholder="Package URL")
    .col-sm-2
        a.btn.btn-primary.btn-lg.col-sm-12(href="#", ng-click="loadPackage()") Load

.row(ng-if='data.localPackages')
    .col-sm-12
        .panel.panel-default
            .panel-heading
                h3.panel-title Local packages
            table.table.table-striped
                tbody
                    tr(ng-repeat='package in data.data_packages')
                        td
                            a(href='#', ng-href='oscplayer/{{package.uuid}}/play') {{package.title}}
