.bottom-space
    h3 {{ data.dataPackage.title }}
.row.bottom-space
    .col-sm-7
        progressbar(value="playprogress",max="1000",animated="false")
        p.small
            span= 'Total time: {{ data.timeString }} | Target FPS: {{ data.fps }} | {{ data.totalFrames }} frames'
    .col-sm-3
        h1#timeCode 00:00:00
        p.lead#frameCount
    .col-sm-2
        a.btn.btn-lg.col-sm-12(role="button",ng-click="play()",ng-class="playing ? 'btn-primary' : 'btn-default'") {{ playing ? 'Pause' : 'Play' }}
        a.btn.btn-default.btn-sm.col-sm-12(role="button",ng-click="rewind()") Rewind

.row
    .col-md-12
        ul.nav.nav-tabs
            li(role="presentation", ng-class="selected_nav == 'channels' ? 'active' : ''")
                a(ng-click="selected_nav = 'channels'") Channels
            li(role="presentation", ng-class="selected_nav == 'info' ? 'active' : ''")
                a(ng-click="selected_nav = 'info'") Info
        .panel.panel-default#channels(ng-if="selected_nav == 'channels'")
            table.table.table-striped
                tbody(ng-repeat="channel in data.dataPackage.channels")
                    tr(ng-repeat="stream in channel.streams")
                        td
                            input(type='checkbox', ng-model='data.streamStatus[stream.uuid]')
                        td {{ channel.title }}
                        td {{ stream.title }}
                        td {{ stream.group }}
        .panel.panel-default#info(ng-if="selected_nav == 'info'")
            .panel-body
                .row
                    .col-sm-4
                        p
                            strong Contributor:
                            br
                            | {{ data.packageAuthor.name }}
