doctype HTML5
html(ng-app='piecemeta-frontend')
    head
        meta(charset='utf8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title PieceMetaOSC
        script(src='./js/piecemeta-angular-dependencies.min.js')
        script(src='./js/piecemeta-angular-frontend.min.js')
        link(rel='stylesheet', href='./css/piecemeta-frontend.css')
        script(type="text/javascript") angular.element(document.getElementsByTagName('head')).append(angular.element('<base href="' + window.location.pathname + '" />'));
    body(data-status="{{ status }}")
        .container-fluid(cg-busy="{promise:pagePromise,message:'Loading page...',templateUrl:'./partials/busy.html',minDuration:100}")
            .navbar.navbar-inverse.navbar-fixed-top(name='mainNavigation', role='navigation', check-login)
                .container-fluid
                    .navbar-header
                        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', ng-click='isCollapsed = !isCollapsed')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        .navbar-brand PieceMetaOSC
                    .collapse.navbar-collapse(collapse='isCollapsed')
                        ul.nav.navbar-nav(ng-if='$root.platform !== "win32"')
                            li
                                a(href='oscplayer/load') Packages
                            li
                                a(href='oscplayer/settings') Settings
                        ul.nav.navbar-nav(ng-if='$root.platform === "win32"')
                            li
                                a(href='#/oscplayer/load') Packages
                            li
                                a(href='#/oscplayer/settings') Settings
            .container-fluid
                .main-content(ng-view,cg-busy="{promise:promise,message:promiseString,templateUrl:'./partials/busy.html'}")
