doctype HTML5
html(ng-app='piecemeta-frontend')
  head
    base(href='/')
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script(src='js/piecemeta-angular-dependencies.min.js')
    script(src='js/piecemeta-angular-frontend.min.js')
    link(rel='stylesheet', href='css/piecemeta-frontend.css')
  body(data-status="{{ status }}")
      .container-fluid(cg-busy="{promise:pagePromise,message:'Loading page...',templateUrl:'partials/busy.html',minDuration:100}")
          .navbar.navbar-inverse.navbar-fixed-top(name='mainNavigation', role='navigation', check-login)
              .container-fluid
                  .navbar-header
                      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse', ng-click='isCollapsed = !isCollapsed')
                          span.sr-only Toggle navigation
                          span.icon-bar
                          span.icon-bar
                          span.icon-bar
                      a.navbar-brand(href='/') PieceMeta
                  .collapse.navbar-collapse(collapse='isCollapsed')
                      ul.nav.navbar-nav
                          li.active
                              a(href='/') Home
                          li.dropdown(dropdown)
                              a.dropdown-toggle(dropdown-toggle, data-toggle="dropdown")
                                  | About
                                  span.caret
                              ul.dropdown-menu(dropdown-menu, role="menu")
                                  li
                                      a(href="http://doc.piecemeta.com", target="_blank") API Reference
                                  li
                                      a(href="http://www.piecemeta.com", target="_blank") More info
                      ul.nav.navbar-nav.navbar-right
                          li
                              a(href='/packages/browse') Browse data
                          li.dropdown(dropdown, ng-if="userSession")
                              a.dropdown-toggle(dropdown-toggle, data-toggle="dropdown")
                                | Add Data
                                span.caret
                              ul.dropdown-menu(dropdown-menu, role="menu")
                                li
                                  a(href="/packages/create") Create Package
                          li.dropdown(dropdown, ng-if="!userSession")
                              a.dropdown-toggle(dropdown-toggle, data-toggle="dropdown")
                                | Account
                                span.caret
                              ul.dropdown-menu(dropdown-menu, role="menu")
                                  li
                                    a(href="/login") Login
                                  li
                                    a(href="/signup") Create account
                          li.dropdown(dropdown, ng-if="userSession")
                              a.dropdown-toggle.clearfix.media(dropdown-toggle, data-toggle="dropdown")
                                  | {{userSession.name}}
                                  span.caret
                              ul.dropdown-menu(dropdown-menu, role="menu")
                                  li
                                      a(href="/me/account") Update account
                                  li
                                      a(href="/logout") Logout



          .container-fluid
              .main-content(ng-view,cg-busy="{promise:promise,message:promiseString,templateUrl:'partials/busy.html'}")
