h2 Available packages
.table-responsive
    table.table.table-striped
        tbody
            tr(ng-repeat='package in data.data_packages')
                td
                    a(ng-href='packages/{{package.uuid}}/show') {{package.title}}
                td
                    a.btn-sm.btn-success.pull-right(ng-href='packages/{{package.uuid}}/edit', ng-if="package.user_uuid && package.user_uuid == userSession.uuid") Edit
