ol.breadcrumb
    li
        a(href="/packages/browse") Data
    li.active {{ formTitle }}

alert(ng-repeat='alert in alerts' type='{{alert.type}}' close='closeAlert($index)') {{alert.msg}}
form(name='dataSequenceForm', role='form', ng-submit='submit()')
    .panel.panel-primary
        .panel-heading
            h3.panel-title {{ formTitle }}
        .panel-body
            .row
                .col-sm-12
                    .form-group
                        label.control-label(for='name') Title
                        input.input-lg.form-control(name='title', ng-model='dataPackage.title')
            .row
                .col-sm-12
                    .form-group
                        label.control-label(for='name') Description (You can use #[a(href="http://daringfireball.net/projects/markdown/") Markdown])
                        textarea.form-control(rows='6', name='description', ng-model='dataPackage.description')

        .panel-footer.btn-group-lg.text-right
            input.btn.btn-primary.btn-lg(type='submit', value='Save package')

        .panel-body(ng-if="dataPackage.uuid")
            .row
                .col-sm-12
                    h3 Data channels
                    p
                        a.btn.btn-success.btn-sm.spacer-right(ng-href="{{ '/packages/' + dataPackage.uuid + '/channels/import' }}") Import channel
                        a.btn.btn-info.btn-sm.spacer-right(ng-href="{{ '/packages/' + dataPackage.uuid + '/channels/create' }}") Add empty channel
            .row(ng-if='dataChannels')
                .col-sm-12
                    ul.list-group
                        li.list-group-item(ng-repeat='channel in dataChannels')
                            a.pull-right(href='#', role='button', ng-click="deleteChannel(channel, $event)") Delete
                            a(ng-href="{{ '/channels/' + channel.uuid + '/edit' }}") {{ channel.title }}

