ol.breadcrumb
    li
        a(href="/packages/browse") Data
    li.active Show "{{ data.dataPackage.title }}"

.row
    .col-md-12
        .panel.panel-default
            .panel-heading
                h3.panel-title {{ ::data.dataPackage.title }}
            .panel-body
                .row
                    .col-sm-8(btf-markdown="::data.dataPackage.description")
                    .col-sm-4
                        p
                            strong Contributor:
                            br
                            | {{ ::data.packageAuthor.name || 'anonymous' }}
             .panel-heading
                h3.panel-title API URLs
            .panel-body
                .list
                    span.list-group-item
                        h4.list-group-item-heading {{ ::data.dataPackage.title }}
                        p
                            code {{ ::data.dataURL }}.json
                        p
                            | Related channels
                            br
                            code {{ ::data.dataURL }}/channels.json
                    span.list-group-item(ng-repeat="channel in data.dataPackage.channels")
                        h4.list-group-item-heading {{ ::channel.title }}
                        p
                            code GET {{ ::data.apiBaseUrl }}/channels/{{ ::channel.uuid }}.json
                        hr
                        h5 Related Streams
                        p
                            code {{ ::data.apiBaseUrl }}/channels/{{ ::channel.uuid }}/streams.json
                        div(ng-repeat="stream in channel.streams")
                            strong {{ stream.title }}
                            p
                                code {{ ::data.apiBaseUrl }}/streams/{{ ::stream.uuid }}.json
                            p
                                | Frame data (All {{ stream.frameCount }} frames; retrieve only every {{ stream.frameCount / 100 }}th frame)
                                br
                                code {{ ::data.apiBaseUrl }}/streams/{{ ::stream.uuid }}/frames.json?from=0&to={{ stream.frameCount }}&skip={{ stream.frameCount / 100 }}


h3 Inspect data

.row(cg-busy="{promise:chartPromise,message:'Initializing...',templateUrl:'partials/busy.html'}")
    .col-md-4
        .form-group
            label.control-label Select channel
            select.form-control(name="channelSelect", ng-model="data.currentChannel", ng-options="channel as channel.title for channel in data.dataPackage.channels")
        .form-group(ng-if='data.streamGroups.length > 1')
            label.control-label Select value group
            select.form-control(name="groupSelect", ng-model="data.currentGroup", ng-options="group for group in data.streamGroups")
    .col-md-4
        .form-group
            label.control-label Select stream
            select.form-control(multiple, name="streamSelect", ng-model="data.selectedStreams", ng-options="stream as stream.title for stream in data.currentChannel.streams")
    .col-md-4
        .form-group
            label.control-label Select property
            select.form-control(multiple, name="propertySelect", ng-model="data.selectedProperties", ng-options="property for property in data.properties")

    canvas.col-md-12#line(class="chart chart-line" chart-data="data.chartSetup.graphDataSet" chart-options="data.chartSetup.options" chart-labels="data.chartSetup.labels" chart-legend="true" chart-series="data.chartSetup.series")