ol.breadcrumb
    li
        a(href="/packages/browse") Data
    li
        a(ng-href="{{ '/packages/' + data.dataPackage.uuid + '/edit' }}") Edit "{{ data.dataPackage.title }}"
    li
        a(ng-href="{{ '/channels/' + data.dataChannel.uuid + '/edit' }}") Edit "{{ data.dataChannel.title }}"
    li.active {{ formTitle }}

alert(ng-repeat='alert in alerts' type='{{alert.type}}' close='closeAlert($index)') {{alert.msg}}
form(name='dataStreamForm', role='form', ng-submit='submit()')
    .panel.panel-primary
        .panel-heading
            h3.panel-title {{ formTitle }}
        .panel-body
            .col-sm-6
                .form-group
                    label.control-label(for='name') Title
                    input.input-lg.form-control(name='title', ng-model='data.dataStream.title')
            .col-sm-6
                .form-group
                    label.control-label(for='name') Property group
                    input.input-lg.form-control(name='title', ng-model='data.dataStream.group')
            .col-sm-12
                .form-group
                    label Currently contains {{ data.dataStream.frames.length }} Frames
            .col-sm-12
                .form-group
                    .well.well-lg.col-sm-12(role='button', ng-file-select='onFileSelect($files)', data-multiple='false') {{file ? file.name : 'Click to select a file containing an array of float values encoded in JSON to replace current frames'}}
        .panel-footer.btn-group-lg.text-right
            input.btn.btn-primary.btn-lg(type='submit', value='Save stream')
