h1 PieceMetaOSCPlayer
p This early piece of beta magic allows local playback of the data as OSC packages.
p
    img.img-responsive(src="dist/assets/oscplayer-screen.png")
p
    | Doesn't look too fancy, i know... BUT: It is available for Mac, Linux and Windows and a new version is already in the making.
p
    strong Pro tip:
    | You can scroll the data tracks by clicking and dragging.
h2.text-center Downloads
.row
    .col-sm-4.text-center
        p
            a.btn.btn-lg.btn-primary(href="https://github.com/PieceMeta/PieceMetaOSCPlayer/releases/download/v0.1.2/PieceMetaOSCPlayer-MAC.dmg") Download MAC version
        p.small If Mac OS refuses to open the app (it is not signed) just go to System Preferences > Security and click on "open anyway".
    .col-sm-4.text-center
        p
            a.btn.btn-lg.btn-primary(href="https://github.com/PieceMeta/PieceMetaOSCPlayer/releases/download/v0.1.2/PieceMetaOSCPlayer-LINUX64.tar.gz") Download LINUX version
        p.small (64bit version only, two separate binaries for libglew1.6 and libglew1.10 included, if it fails to start, check ldd on the executable)
    .col-sm-4.text-center
        p
            a.btn.btn-lg.btn-primary(href="https://github.com/PieceMeta/PieceMetaOSCPlayer/releases/download/v0.1.2/PieceMetaOSCPlayer-WIN64.zip") Download WIN version
        p.small (64bit version only)
